@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "maple";
  src: url("../../fonts/MapleWebRegular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maple";
  src: url("../../fonts/MapleWebBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --background-color: theme('colors.lightPink');
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

body {
  background-color: var(--background-color);
  cursor: url('../../public/cursor.svg') 16 16, auto !important;
}

a:hover {
  cursor: url('../../public/cursor.svg') 16 16, auto;
}
a:click

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
}

li {
  list-style-image: url('../../public/bullet.svg');
  list-style-position: inside;
}